.body{
    margin: 0;
    width: 100%;
    font-family: Roboto, arial;
}
.first-image{
    margin-top: 55px;
    color:white;
    height: 190px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 25px; 
}
.image{
    height: 180px;
    width: 100%;
}
.text-top{
    font-size: 30px;
    margin-top: -180px;
    height: 90px;
    width: 500px;
    padding-top: 60px;
    margin-left: 100px;
}
.parant-div{
    margin-top: 90px;
    margin-left: 130px;
    width: 1150px;
    height: 400px;
    display: flex;
}
.left-text{
    height:330 ;
    width: 400px;

}
.right-text{
    height:300 ;
    margin-left: 80px;
    margin-right: 80px;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    column-gap: 20px;
    row-gap: 10px;

}
.left-text-h3{
    font-size: 25px;
    color: #2c64aa;
}
.left-text-p{
    font-weight: 700;
    text-align: justify;
    text-justify: auto;
}
.span{
    color:#2c64aa ;
}
.small-fortext{
    margin-bottom: 10px;
    row-gap: 10px;
    width: 300px;
    height: 180px;
    box-shadow: 0px 3px 4px rgb(200, 198, 198);
}
.small-text-num{
  margin-top: 20px;
  margin-left: 20px;
}
.small-text-h2{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.small-text-p{
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

.bottom-div{
    margin-top: 40px;
    height: 330px;
    display: flex;
}
.bottom-image{
    height:330px ;
    width: 590px;
}
.bottom-text{
    margin-left: 100px;
    height: 330px ;
    width: 550px;
}
.last-div{
    margin-bottom: 50px;
    margin-top: 70px;
    margin-left: 500px; 
    width: 500px;
    height: 110px;
    display: flex;
}
.last{
    width: 150px;  
}
.num{
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 3px;

}
.word{
    font-weight: 600;
    margin-left: -14px;
    font-size: 15px;
}